// Colores:
$dark-green-title: rgb(40, 71, 44);
$light-green-text: #167a83;
$dark-blue-text: #0f386d;
$lighter-green-text: #85ced4;
$light-blue-text: #bef5fa;
$darker-green-text: #0d1f20;
$light-violet-text: #555ba3;
$middle-violet-text: #3e33a1;
$dark-violet-text: #5c29b9;
$darker-violet-text: #1c0d52;

// Fuentes:
$font-title: "Allegra", serif;



